<!DOCTYPE html>

<head>
    <title>About</title>
    <link rel = "icon" href = "/weather.png">
    <link rel = "stylesheet" href = "./css/styles.css">
    

</head>

<body>

        <div class = "main-content">
            {{>header}}
            <p>This page was created by Garima . This was designed to test deploying project in Heroku</p>
        </div>

        {{>footer}}
</body>
</html>